@import "../../../../utils/variables.scss";

.change-pass--container {
    background-color: $bkg;

    .change-pass--wrapper {
        padding: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;

        .wrapper__content {
            width: 60%;
            height: fit-content;
            padding: 30px;
            border: 1px solid black;
            border-radius: 8px;
            background-color: white;
            box-shadow: $box-shadow;

            .content__title--change-pass {
                width: fit-content;
                background: $change-pass;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 30px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .infor--control {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    label {
                        min-width: 20%;
                        font-size: 24px;
                        font-weight: 400;
                    }

                    input {
                        flex: 1;
                        padding: 10px;
                        font-size: 20px;
                        border: 1px solid black;
                        border-radius: 8px;
                    }
                }

                .control-pass {
                    position: relative;

                    .icon {
                        height: 1.5rem;
                        width: 1.5rem;
                        position: absolute;
                        box-sizing: border-box;
                        top: 65%;
                        right: 2%;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .info--btn {
                    display: flex;
                    justify-content: center;
                    gap: 50px;

                    .btn--back {
                        background-color: $btn-secondary;
                        color: black;
                        padding: 10px 40px;
                        border-radius: 8px;
                        font-size: 16px;
                        font-weight: 400;

                        &:hover {
                            background-color: #d1d1d1;
                        }
                    }

                    .btn--save {
                        background-color: $text-nav;
                        color: white;
                        padding: 10px 30px;
                        font-size: 16px;
                        border-radius: 8px;
                        font-weight: 400;

                        &:hover {
                            background-color: $thirdary;
                        }
                    }
                }
            }
        }
    }
}