@import "../../../../utils/variables.scss";

.modal--room-detail {
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
}

.modal--guest--infor {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    gap: 30px;
}