@import "../../../../utils/variables.scss";

.header--is-logged {
    background: $header;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 130px;
    box-shadow: $box-shadow;

    .header__logo {
        width: 8%;

        img {
            width: 100%;
        }
    }

    .header__nav {
        width: 70%;
        display: flex;
        justify-content: space-evenly;

        .nav__item {
            font-size: 1.1rem;
            color: white;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }

    .header__btn {
        width: 18%;
        padding-right: 15px;
        background: $btn-account-reverse;
        border-radius: 8px;
        margin-right: 15px;

        .btn--user {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding: 15px;

            img {
                width: 40px;
            }

            .name-user {
                color: white;
                font-size: 16px;
            }
        }

        &:hover {
            background: $btn-account;
            cursor: pointer;
        }
    }
}