@import "../../../../../../utils/variables.scss";

.all-booking--container {
    margin: 30px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .all-booking__box {
        border: 1px solid #AAAAAA;
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        .booking--code {
            color: black;
            font-size: 20px;
            font-weight: bold;
        }

        .booking--status {
            font-size: 20px;
            font-weight: bold;
        }

        .booking--info {
            padding: 15px;
            display: flex;
            gap: 30px;
            border-bottom: 1px solid #AAAAAA;

            img {
                width: 50%;
                min-height: 180px;
                max-height: 180px;
                border-radius: 8px;
                box-shadow: $box-shadow;
            }

            .detail {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .room-name {
                    color: black;
                    font-size: 20px;
                    font-weight: 400;
                }

                .date {
                    color: black;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }

        .booking--view-detail {
            display: flex;
            padding: 15px;
            justify-content: flex-end;

            .btn--view-detail {
                padding: 10px 50px;
                border-radius: 8px;
                color: white;
                background-color: $btn-primary;
                font-weight: 400;

                &:hover {
                    background-color: $thirdary;
                }
            }
        }
    }
}

.color-change-3x {
    font-weight: bold;
    -webkit-animation: color-change-3x 3s linear infinite alternate both;
    animation: color-change-3x 3s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}

@keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}