@import "../../../../utils/variables.scss";

.otp--container {
    position: absolute;
    width: 27%;
    top: 50%;
    right: 23%;
    border-radius: 0.625rem;
    background-color: white;
    box-shadow: $form-box-shadow;
    transform: translate(-50%, -50%);

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 1rem;

        .title {
            width: 100%;
            text-align: center;
            color: black;
            font-weight: 700;
            font-size: 2rem;
            text-transform: uppercase;
        }

        .user-guide {
            width: 100%;
            text-align: center;
        }

        .control {
            display: flex;
            gap: 10px;
            flex-direction: column;

            .label {
                min-width: 20%;
                font-size: 1rem;
            }

            .input {
                flex: 1;
                padding: 15px 0 15px 10px;
                border-radius: .7rem;
                font-size: 1rem;
                border: 1px solid black;
                letter-spacing: 10px;
            }
        }
    }
}

.color-change-3x {
    -webkit-animation: color-change-3x 65s linear infinite alternate both;
    animation: color-change-3x 65s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
    0% {
        color: #00FDFF;
    }

    1% {
        color: #D3AEA2;
    }

    2% {
        color: #37B697;
    }

    3% {
        color: #092475;
    }

    4% {
        color: #FC7B71;
    }

    5% {
        color: #D0553E;
    }

    6% {
        color: #1A3785;
    }

    7% {
        color: #D7E8E3;
    }

    8% {
        color: #99BF5E;
    }

    9% {
        color: #6D938D;
    }

    10% {
        color: #9CE91B;
    }

    11% {
        color: #F1BD12;
    }

    12% {
        color: #72F3F4;
    }

    13% {
        color: #12FE69;
    }

    14% {
        color: #FA86FA;
    }

    15% {
        color: #A13EC9;
    }

    16% {
        color: #8C50B7;
    }

    17% {
        color: #C3172B;
    }

    18% {
        color: #8C3E2E;
    }

    19% {
        color: #02A19A;
    }

    20% {
        color: #AAEF03;
    }

    21% {
        color: #776B24;
    }

    22% {
        color: #A77EFA;
    }

    23% {
        color: #4C8D70;
    }

    24% {
        color: #03AA73;
    }

    25% {
        color: #360D53;
    }

    26% {
        color: #DBA3B0;
    }

    27% {
        color: #C69992;
    }

    28% {
        color: #40E94A;
    }

    29% {
        color: #75645E;
    }

    30% {
        color: #A27731;
    }

    31% {
        color: #FA0A2B;
    }

    32% {
        color: #71B3C1;
    }

    33% {
        color: #851E4A;
    }

    34% {
        color: #9947F1;
    }

    35% {
        color: #0AF324;
    }

    36% {
        color: #4A940C;
    }

    37% {
        color: #E95C93;
    }

    38% {
        color: #AF366E;
    }

    39% {
        color: #9D14F4;
    }

    40% {
        color: #404BB3;
    }

    41% {
        color: #651CAE;
    }

    42% {
        color: #1629DE;
    }

    43% {
        color: #D8119B;
    }

    44% {
        color: #9108BE;
    }

    45% {
        color: #C5A79C;
    }

    46% {
        color: #FBB4C2;
    }

    47% {
        color: #BEDDC4;
    }

    48% {
        color: #1C19EC;
    }

    49% {
        color: #7FADD7;
    }

    50% {
        color: #41552D;
    }

    51% {
        color: #622269;
    }

    52% {
        color: #8EE961;
    }

    53% {
        color: #7B9873;
    }

    54% {
        color: #FB5839;
    }

    55% {
        color: #E584E5;
    }

    56% {
        color: #1420A0;
    }

    57% {
        color: #B1A8FA;
    }

    58% {
        color: #B2D64E;
    }

    59% {
        color: #710677;
    }

    60% {
        color: #234EEB;
    }

    61% {
        color: #8E5C97;
    }

    62% {
        color: #93B3AA;
    }

    63% {
        color: #8E22C7;
    }

    64% {
        color: #3F4E75;
    }

    65% {
        color: #5EE222;
    }

    66% {
        color: #96883F;
    }

    67% {
        color: #5C9CA0;
    }

    68% {
        color: #80DA3E;
    }

    69% {
        color: #279B8C;
    }

    70% {
        color: #91DF41;
    }

    71% {
        color: #E05924;
    }

    72% {
        color: #E1A57C;
    }

    73% {
        color: #364C4B;
    }

    74% {
        color: #8DECD9;
    }

    75% {
        color: #8C440A;
    }

    76% {
        color: #B9C907;
    }

    77% {
        color: #735688;
    }

    78% {
        color: #F8A6A3;
    }

    79% {
        color: #1E3227;
    }

    80% {
        color: #B7E286;
    }

    81% {
        color: #C35C3D;
    }

    82% {
        color: #E1C681;
    }

    83% {
        color: #B97217;
    }

    84% {
        color: #DF18A7;
    }

    85% {
        color: #4BBF70;
    }

    86% {
        color: #6442C8;
    }

    87% {
        color: #BC0BC1;
    }

    88% {
        color: #A2558D;
    }

    89% {
        color: #8DF033;
    }

    90% {
        color: #5808CC;
    }

    91% {
        color: #25E702;
    }

    92% {
        color: #5AEAF1;
    }

    93% {
        color: #68BA0F;
    }

    94% {
        color: #10E228;
    }

    95% {
        color: #691FC0;
    }

    96% {
        color: #644B12;
    }

    97% {
        color: #8A48B0;
    }

    98% {
        color: #CD6D91;
    }

    99% {
        color: #223374;
    }

    100% {
        color: #ff1212;
    }
}

@keyframes color-change-3x {
    0% {
        color: #00FDFF;
    }

    1% {
        color: #D3AEA2;
    }

    2% {
        color: #37B697;
    }

    3% {
        color: #092475;
    }

    4% {
        color: #FC7B71;
    }

    5% {
        color: #D0553E;
    }

    6% {
        color: #1A3785;
    }

    7% {
        color: #D7E8E3;
    }

    8% {
        color: #99BF5E;
    }

    9% {
        color: #6D938D;
    }

    10% {
        color: #9CE91B;
    }

    11% {
        color: #F1BD12;
    }

    12% {
        color: #72F3F4;
    }

    13% {
        color: #12FE69;
    }

    14% {
        color: #FA86FA;
    }

    15% {
        color: #A13EC9;
    }

    16% {
        color: #8C50B7;
    }

    17% {
        color: #C3172B;
    }

    18% {
        color: #8C3E2E;
    }

    19% {
        color: #02A19A;
    }

    20% {
        color: #AAEF03;
    }

    21% {
        color: #776B24;
    }

    22% {
        color: #A77EFA;
    }

    23% {
        color: #4C8D70;
    }

    24% {
        color: #03AA73;
    }

    25% {
        color: #360D53;
    }

    26% {
        color: #DBA3B0;
    }

    27% {
        color: #C69992;
    }

    28% {
        color: #40E94A;
    }

    29% {
        color: #75645E;
    }

    30% {
        color: #A27731;
    }

    31% {
        color: #FA0A2B;
    }

    32% {
        color: #71B3C1;
    }

    33% {
        color: #851E4A;
    }

    34% {
        color: #9947F1;
    }

    35% {
        color: #0AF324;
    }

    36% {
        color: #4A940C;
    }

    37% {
        color: #E95C93;
    }

    38% {
        color: #AF366E;
    }

    39% {
        color: #9D14F4;
    }

    40% {
        color: #404BB3;
    }

    41% {
        color: #651CAE;
    }

    42% {
        color: #1629DE;
    }

    43% {
        color: #D8119B;
    }

    44% {
        color: #9108BE;
    }

    45% {
        color: #C5A79C;
    }

    46% {
        color: #FBB4C2;
    }

    47% {
        color: #BEDDC4;
    }

    48% {
        color: #1C19EC;
    }

    49% {
        color: #7FADD7;
    }

    50% {
        color: #41552D;
    }

    51% {
        color: #622269;
    }

    52% {
        color: #8EE961;
    }

    53% {
        color: #7B9873;
    }

    54% {
        color: #FB5839;
    }

    55% {
        color: #E584E5;
    }

    56% {
        color: #1420A0;
    }

    57% {
        color: #B1A8FA;
    }

    58% {
        color: #B2D64E;
    }

    59% {
        color: #710677;
    }

    60% {
        color: #234EEB;
    }

    61% {
        color: #8E5C97;
    }

    62% {
        color: #93B3AA;
    }

    63% {
        color: #8E22C7;
    }

    64% {
        color: #3F4E75;
    }

    65% {
        color: #5EE222;
    }

    66% {
        color: #96883F;
    }

    67% {
        color: #5C9CA0;
    }

    68% {
        color: #80DA3E;
    }

    69% {
        color: #279B8C;
    }

    70% {
        color: #91DF41;
    }

    71% {
        color: #E05924;
    }

    72% {
        color: #E1A57C;
    }

    73% {
        color: #364C4B;
    }

    74% {
        color: #8DECD9;
    }

    75% {
        color: #8C440A;
    }

    76% {
        color: #B9C907;
    }

    77% {
        color: #735688;
    }

    78% {
        color: #F8A6A3;
    }

    79% {
        color: #1E3227;
    }

    80% {
        color: #B7E286;
    }

    81% {
        color: #C35C3D;
    }

    82% {
        color: #E1C681;
    }

    83% {
        color: #B97217;
    }

    84% {
        color: #DF18A7;
    }

    85% {
        color: #4BBF70;
    }

    86% {
        color: #6442C8;
    }

    87% {
        color: #BC0BC1;
    }

    88% {
        color: #A2558D;
    }

    89% {
        color: #8DF033;
    }

    90% {
        color: #5808CC;
    }

    91% {
        color: #25E702;
    }

    92% {
        color: #5AEAF1;
    }

    93% {
        color: #68BA0F;
    }

    94% {
        color: #10E228;
    }

    95% {
        color: #691FC0;
    }

    96% {
        color: #644B12;
    }

    97% {
        color: #8A48B0;
    }

    98% {
        color: #CD6D91;
    }

    99% {
        color: #223374;
    }

    100% {
        color: #ff1212;
    }
}