@import "../../../utils/variables.scss";

.gallery-management--container {
    height: 100%;
    display: flex;
    background-color: $bkg;

    .gallery-content--container {
        flex: 1;

        .gallery-content--wrapper {
            background-color: white;
            border: 1px solid black;
            border-radius: 8px;
            margin: 30px;

            .content__title--gallery {
                width: fit-content;
                background: $gallery;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 30px 30px 0 30px;
                font-size: 30px;
                font-weight: 700;
            }

            .content__number--image {
                width: fit-content;
                background: $gallery-reverse;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 0 30px 30px 30px;
                font-size: 28px;
                font-weight: 700;
            }

            .table__title--gallery {
                color: black;
                font-size: 18px;
                font-weight: 700;

                &:first-child {
                    padding: 16px 16px 16px 0;
                }
            }

            .table--btn-delete {
                background: $gallery;
                padding: 10px 40px;
                color: white;
                font-weight: 700;
                border-radius: 8px;

                &:hover {
                    background: $gallery-reverse;
                }
            }
        }
    }
}

.color-change-3x {
    font-weight: bold;
    -webkit-animation: color-change-3x 3s linear infinite alternate both;
    animation: color-change-3x 3s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}

@keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}