@import "../../../utils/variables.scss";

.header--admin {
    background: $header;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__title {
        width: fit-content;
        background: $admin-panel;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 12px;
        text-transform: uppercase;
        margin-left: 30px;
    }

    .header__exit {
        display: flex;
        align-items: center;
        gap: 20px;

        .header--btn {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 20px;
            margin-right: 30px;
            border-radius: 16px;
            transition: all ease-in .2s;

            &:hover {
                cursor: pointer;
            }
        }
    }
}