@import "../../../../../utils/variables.scss";

.modal-form--control {
    display: flex;
    align-items: center;

    .form-modal--label {
        min-width: 25%;
    }

    .modal-form--input {
        flex: 1;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid $disable;
        border-radius: 8px;
    }
}