@import "../../../../utils/variables.scss";

.room-detail--service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
    gap: 10px;

    .service--box {
        width: 48%;
        padding: 15px 0;

        &:first-child,
        &:nth-child(2) {
            border-bottom: 1px solid $divider;
        }

        .service--title {
            color: black;
            font-size: 16px;
            font-weight: 700;
        }

        .service--desc {
            color: black;
            font-size: 15px;
            font-weight: normal;
            padding: 15px 0;
        }
    }
}