@import "../../../utils/variables.scss";

.search--container {
    padding: 30px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: $box-shadow;
    background-color: white;

    .search__title {
        font-size: 1.4rem;
        color: black;
        font-weight: 700;
    }

    .search__form--container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .search__form--select {
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}