@import "../../../../../../utils/variables.scss";

.child-modal-form--control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .child-modal-form--label {
        font-size: 1.1rem;
    }

    .child-modal-form--input {
        width: 100%;
        flex: 1;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid $disable;
        border-radius: 8px;
    }
}