@import "../../../utils/variables.scss";

.gallery--container {
    background: $bkg;

    .content--container {

        .content__title--gallery {
            margin: 30px 0;
            padding: 10px;
            text-align: center;
            background: #DEE1F5;
            box-shadow: $box-shadow;
            -webkit-animation: color-change-5x 6s linear infinite alternate both;
            animation: color-change-5x 6s linear infinite alternate both;
            font-size: 2rem;
            font-weight: 700;
        }

        .content__filter--gallery {
            background-color: white;
            margin: 0 30px 30px 30px;
            padding: 10px;
            display: flex;
            justify-content: space-evenly;
            border: 1px solid black;
            border-radius: 8px;
        }
    }
}

.color-change-3x {
    font-weight: bold;
    -webkit-animation: color-change-3x 3s linear infinite alternate both;
    animation: color-change-3x 3s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}

@keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}

@-webkit-keyframes color-change-5x {
    0% {
        color: #19dcea;
    }

    33.3333% {
        color: $text-nav;
    }

    66.666% {
        color: $status-positive;
    }

    100% {
        color: $admin-negative;
    }
}

@keyframes color-change-5x {
    0% {
        color: #19dcea;
    }

    33.3333% {
        color: $text-nav;
    }

    66.666% {
        color: $status-positive;
    }

    100% {
        color: $admin-negative;
    }
}