@import "../../../../../utils/variables.scss";

.table--btn-confirm {
    background: $header;
    padding: 10px 40px;
    color: white;
    font-weight: 700;

    &:hover {
        background: $btn-account-reverse;
    }
}

.color-change-3x {
    font-weight: bold;
    -webkit-animation: color-change-3x 3s linear infinite alternate both;
    animation: color-change-3x 3s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}

@keyframes color-change-3x {
    0% {
        color: #19dcea;
    }

    50% {
        color: #b22cff;
    }

    100% {
        color: #ea2222;
    }
}