@import "../../../../utils/variables.scss";

.profile--container {
    background-color: $bkg;

    .profile--wrapper {
        padding: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;

        .wrapper__content {
            width: 60%;
            height: fit-content;
            padding: 30px;
            border: 1px solid black;
            border-radius: 8px;
            background-color: white;
            box-shadow: $box-shadow;

            .content__title--profile {
                width: fit-content;
                background: $admin-primary;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 30px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .infor--control {
                    display: flex;
                    align-items: center;

                    label {
                        min-width: 20%;
                        font-size: 24px;
                        font-weight: 400;
                    }

                    input {
                        flex: 1;
                        padding: 10px;
                        font-size: 20px;
                        border: 1px solid black;
                        border-radius: 8px;

                        &[disabled] {
                            background-color: $disable;
                            color: black;
                        }
                    }
                }

                .info--btn {
                    display: flex;
                    justify-content: center;
                    gap: 50px;

                    .btn--back {
                        background-color: $btn-secondary;
                        color: black;
                        padding: 10px 40px;
                        font-size: 16px;
                        font-weight: 400;
                        border-radius: 8px;

                        &:hover {
                            background-color: #d1d1d1;
                        }
                    }

                    .btn--save {
                        background-color: $text-nav;
                        color: white;
                        padding: 10px 30px;
                        font-size: 16px;
                        font-weight: 400;
                        border-radius: 8px;

                        &:hover {
                            background-color: $thirdary;
                        }
                    }
                }
            }
        }
    }
}