@import "../../../utils/variables.scss";

.login--container {
    width: 100%;

    .login__form--container {
        position: absolute;
        width: 27%;
        top: 50%;
        right: 23%;
        border-radius: 0.625rem;
        background-color: white;
        box-shadow: $form-box-shadow;
        transform: translate(-50%, -50%);

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 1rem;

            .title {
                width: 100%;
                text-align: center;
                color: black;
                font-weight: 700;
                font-size: 2.5rem;
            }

            .control {
                display: flex;
                gap: 10px;
                flex-direction: column;

                .label {
                    min-width: 20%;
                    font-size: 1rem;
                }

                .input {
                    flex: 1;
                    padding: 15px 0 15px 10px;
                    border-radius: .7rem;
                    font-size: 1rem;
                    border: 1px solid black;
                }
            }

            .control-pass {
                position: relative;

                .icon {
                    height: 1.5rem;
                    width: 1.5rem;
                    position: absolute;
                    box-sizing: border-box;
                    top: 57%;
                    right: 3%;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .container__form--remember-forgot {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .remember-me {
                    display: flex;
                }

                .forgot-pass:hover {
                    color: $text-nav;
                    cursor: pointer;
                }
            }

            .register {
                width: 100%;
                text-align: center;

                .register__text {
                    display: flex;
                    justify-content: center;
                    gap: 5px;
                }

                .register__nav {
                    color: $text-nav;
                    cursor: pointer;

                    &:hover {
                        color: $thirdary;
                    }
                }
            }
        }
    }
}