@import url("https://fonts.googleapis.com/css?family=Inter");

// User
$header: linear-gradient(90deg, #330867 0%, #30CFD0 100%);
$footer: linear-gradient(0deg, #30CFD0 0%, #330867 100%);
$btn-account: linear-gradient(90deg, #330867 0%, #30CFD0 100%);
$btn-account-reverse: linear-gradient(90deg, #30CFD0 0%, #330867 100%);
$slogan: linear-gradient(90deg, #23F800 11.17%, #00FDFF 100%);
$change-pass: linear-gradient(90deg, #2096FF 0%, #05FFA3 100%);
$history-booking: linear-gradient(90deg, #6F5F90 0%, #758EB7 100%);
$form-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$btn-login: rgba(51, 8, 103, 0.60);
$btn-primary: #3A73E7;
$btn-secondary: #AEAEAE;
$thirdary: #8692F7;
$bkg: #C3CFE2;
$project-name: #FFE500;
$side-bar: #778FAC;
$clicked-item: #C0C0C0;
$disable: #B4B4B4;
$nav-links: #BBDCEE;
$status-positive: #11D749;
$status-negative: #FFA500;
$text-nav: #05F;
$divider: #DADADA;

// Admin
$admin-side-bar: linear-gradient(180deg, #330867 0%, #30CFD0 100%);
$admin-panel: linear-gradient(90deg, #00F6FF 0%, #FFB100 100%);
$admin-primary: linear-gradient(90deg, #4520D0 0%, #F8956F 100%);
$admin-secondary: linear-gradient(90deg, #7097A8 0%, #A2C8D3 100%);
$admin-secondary-reverse: linear-gradient(90deg, #A2C8D3 0%, #7097A8 100%);
$number-account: linear-gradient(90deg, #F8956F 0%, #4520D0 100%);
$room: linear-gradient(90deg, #B3B31E 0%, #30CFD0 100%);
$room-reverse: linear-gradient(90deg, #30CFD0 0%, #B3B31E 100%);
$category: linear-gradient(90deg, #E7A01F 0%, #A95714 100%);
$category-reverse: linear-gradient(90deg, #A95714 0%, #E7A01F 100%);
$gallery: linear-gradient(90deg, #FF304C 0%, #FF8997 100%);
$gallery-reverse: linear-gradient(90deg, #FF8997 0%, #FF304C 100%);
$booking: linear-gradient(90deg, #2096FF 0%, #05FFA3 100%);
$booking-reverse: linear-gradient(90deg, #05FFA3 0%, #2096FF 100%);
$attention: linear-gradient(90deg, #30CFD0 0%, #330867 100%);
$btn-add: #B2DEF8;
$admin-negative: #DB4444;
$nav-booking: #20465F;