@import "../../../utils/variables.scss";

.about-us--container {
    background: $bkg;

    .about-us--wrapper {
        margin: 30px;
        padding: 15px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
        box-shadow: $box-shadow;

        .about-us__img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            img {
                width: 24%;
                min-height: 180px;
                max-height: 180px;
                border-radius: 12px;
                box-shadow: $box-shadow;
            }
        }

        .about-us__hotel-info {
            display: flex;
            gap: 30px;
            align-items: center;
            padding-left: 15px;

            .logo {
                width: 150px;
                height: 150px;
                border: 1px solid black;
                border-radius: 8px;
            }

            .information {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .hotel__name {
                    font-size: 2rem;
                    font-weight: 700;
                }

                .hotel__reviews {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    .reviews__member {
                        font-size: 1.1rem;
                        color: $thirdary;
                        text-decoration: underline;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .hotel__location {
                    display: flex;
                    align-items: flex-end;
                    gap: 5px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    .location__address {
                        font-size: 1.1rem;
                        color: $thirdary;
                        text-decoration: underline;
                    }
                }
            }
        }

        .about-us__detail {
            margin-top: 30px;
            padding-left: 195px;

            .detail__nav {
                display: flex;
                gap: 30px;
                margin-bottom: 30px;

                .nav__item {
                    font-size: 1.2rem;

                    &:hover {
                        color: #4f4f4f;
                        cursor: pointer;
                    }
                }
            }

            .detail__why-choose {
                display: flex;
                gap: 30px;

                .why-choose__description {
                    width: 60%;
                    text-align: justify;
                    font-size: 1.1rem;
                }

                .why-choose--container {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    background: $thirdary;
                    align-items: center;
                    margin-right: 195px;
                    padding: 20px;
                    gap: 20px;
                    border-radius: 8px;
                    border: 1px solid black;

                    .why-choose__title {
                        font-size: 1.3rem;
                        color: white;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }

                    .reason__item {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .item__text {
                            font-size: 1.1rem;
                            color: white;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    .divider {
        height: 1px;
        margin: 30px 195px;
        background-color: $btn-secondary;
    }

    .about-us__services {
        margin: 0 225px;

        .services__title {
            color: black;
            font-size: 2rem;
            font-weight: 700;
        }

        .services__date-time {
            display: flex;
            gap: 10px;
            align-items: center;
            margin: 30px 0;

            img {
                width: 30px;
                height: 30px;
            }

            .date-time__text {
                color: #3A309D;
                font-size: 1.1rem;
            }
        }

        .services__wrapper {
            margin-bottom: 30px;

            .wrapper__title {
                font-size: 1.4rem;
                font-weight: 700;
                color: black;
            }

            .wrapper__items {
                display: flex;
                margin: 30px 0;
                gap: 25%;

                .left,
                .right {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .item__services--left,
                    .item__services--right {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 40px;
                            height: 40px;
                        }

                        .item__name {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }

        .services__detail {
            .detail__nav {
                display: flex;
                justify-content: space-evenly;
                gap: 30px;
                margin-bottom: 30px;

                .nav__item {
                    font-size: 1.2rem;
                    color: black;

                    &:hover {
                        color: #888888;
                        cursor: pointer;
                    }
                }
            }

            .detail__posts {
                display: flex;
                align-items: center;

                .detail__posts--left {
                    width: 10%;
                    text-align: left;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .detail__posts--center {
                    width: 80%;
                    display: flex;
                    gap: 20px;

                    .posts__item {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        padding: 20px;
                        border: 1px solid black;
                        border-radius: 8px;

                        img {
                            width: 100%;
                            min-height: 225px;
                            max-height: 225px;
                            border-radius: 8px;
                            box-shadow: $form-box-shadow;
                        }

                        .item__subject {
                            color: black;
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        .item__content {
                            font-size: 1.1rem;
                            font-weight: normal;
                            text-align: justify;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            transition: -webkit-line-clamp 0.1s;
                            line-height: 1.6rem;

                            &:hover {
                                overflow: visible;
                                white-space: normal;
                                -webkit-line-clamp: unset;
                            }
                        }
                    }
                }

                .detail__posts--right {
                    width: 10%;
                    text-align: right;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .divider--service {
        height: 1px;
        margin: 30px 225px;
        background-color: $btn-secondary;
    }

    .about-us__rating {
        margin: 0 225px 30px;

        .rating__title {
            color: black;
            font-size: 2rem;
            font-weight: 700;
        }

        .rating__detail {
            .detail__nav {
                display: flex;
                justify-content: space-between;
                margin: 30px 30px;

                .nav__item {
                    font-size: 1.2rem;
                    color: black;

                    &:hover {
                        color: #888888;
                        cursor: pointer;
                    }
                }
            }

            .rating-layout {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 60px;

                .rating-layout--box {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .rating-layout__item {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .item__info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .info__name {
                                color: black;
                                font-weight: 600;
                            }

                            .item__info--reviews {
                                display: flex;
                                align-items: center;
                                gap: 30px;

                                .info__reviews {
                                    color: $btn-secondary;
                                }

                                .info__percent {
                                    color: black;
                                    font-weight: 600;
                                }
                            }
                        }

                        .item__percent {
                            width: var(--percent);
                            height: 10px;
                            background-color: #068484;
                            border-radius: 16px;
                        }
                    }
                }
            }
        }
    }
}