@import "../../../../utils/variables.scss";

.send_mail--container {
    position: absolute;
    width: 27%;
    top: 50%;
    right: 23%;
    border-radius: 0.625rem;
    background-color: white;
    box-shadow: $form-box-shadow;
    transform: translate(-50%, -50%);

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 1rem;

        .title {
            width: 100%;
            text-align: center;
            color: black;
            font-weight: 700;
            font-size: 2rem;
        }

        .user-guide {
            width: 100%;
            text-align: center;
        }

        .control {
            display: flex;
            gap: 10px;
            flex-direction: column;

            .label {
                min-width: 20%;
                font-size: 1rem;
            }

            .input {
                flex: 1;
                padding: 15px 0 15px 10px;
                border-radius: .7rem;
                font-size: 1rem;
                border: 1px solid black;
            }
        }
    }
}