@import "../../../../utils/variables.scss";

.history-booking--container {
    background: $bkg;

    .history-booking--wrapper {
        padding: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;

        .wrapper__content {
            width: 60%;
            height: fit-content;
            padding: 30px;
            border: 1px solid black;
            border-radius: 8px;
            background-color: white;
            box-shadow: $box-shadow;

            .content__title--booking {
                width: fit-content;
                background: $history-booking;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .info__booking--container {
                border: 1px solid black;
                border-radius: 8px;
            }
        }
    }
}