@import "../../../utils/variables.scss";

.rooms--container {
    background: $bkg;

    .content--container {

        .content__title--room {
            margin: 0 30px 30px 30px;
            padding: 10px;
            text-align: center;
            border: 1px solid black;
            border-radius: 8px;
            background: white;
            box-shadow: $box-shadow;
            -webkit-animation: color-change-2x 2s linear infinite alternate both;
            animation: color-change-2x 2s linear infinite alternate both;
            font-size: 2rem;
            font-weight: 700;
        }

        .content__list-rooms--container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 0 30px 30px 30px;
            gap: 30px;

            .list-rooms__item {
                width: 37%;
                border: 1px solid black;
                background: white;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                box-shadow: $box-shadow;

                img {
                    width: 100%;
                    border-radius: 12px 12px 0 0;
                    min-height: 330px;
                    max-height: 330px;
                }

                .room__info {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding-bottom: 20px;

                    .room__info--name {
                        text-align: center;
                        font-size: 1.3rem;
                        color: black;
                        font-weight: 600;
                    }

                    .room__info--detail {
                        width: 40%;
                        font-size: 1.1rem;
                        font-weight: normal;
                        margin: auto;
                        color: white;
                        background-color: $btn-primary;
                        text-transform: none;
                        border-radius: 8px;

                        &:hover {
                            background-color: $thirdary;
                        }
                    }
                }
            }
        }

        .content__see-more {
            display: flex;
            margin-bottom: 30px;

            .see-more__btn {
                margin: auto;
                width: 15%;
                padding: 10px 0;
                border: 1px solid black;
                border-radius: 8px;
                background-color: $btn-secondary;
                cursor: pointer;

                &:hover {
                    background-color: #d1d1d1;
                }
            }
        }
    }
}


@-webkit-keyframes color-change-2x {
    0% {
        color: #19dcea;
    }

    100% {
        color: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        color: #19dcea;
    }

    100% {
        color: #b22cff;
    }
}