@import "../../../utils/variables.scss";

.booking-management--container {
    height: 100%;
    display: flex;
    background-color: $bkg;

    .booking-content--container {
        flex: 1;

        .booking-content--wrapper {
            background-color: white;
            border: 1px solid black;
            border-radius: 8px;
            margin: 30px;

            .content__title--booking {
                width: fit-content;
                background: $booking;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 30px 30px 0 30px;
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}