@import "../../utils/variables.scss";

.home--container {
    background: $bkg;

    .content--container {

        .banner--container {
            width: 100%;
            position: relative;

            .banner__img {
                img {
                    width: 100%;
                    height: 500px;
                }
            }

            .banner__text {
                position: absolute;
                top: 21%;
                right: 15%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                gap: 5rem;

                .title {
                    font-size: 5rem;
                    color: $project-name;
                    -webkit-text-stroke-width: 1;
                    -webkit-text-stroke-color: $project-name;
                    backdrop-filter: blur(2px);
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .slogan {
                    font-size: 3rem;
                    font-weight: bold;
                }

                .color-change-3x {
                    -webkit-animation: color-change-3x 2s linear infinite alternate both;
                    animation: color-change-3x 2s linear infinite alternate both;
                }
            }
        }

        .rooms--container {
            margin: 30px;
            padding: 30px 20px;
            background-color: white;
            border: 1px solid black;
            border-radius: 8px;
            box-shadow: $box-shadow;

            .title {
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                color: black;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .rooms__item {
                display: flex;
                justify-content: space-between;
                gap: 20px;

                .item__box {
                    width: calc(100% / 4);
                    border: 1px solid black;
                    background: #D9D9D9;
                    border-radius: 8px;

                    img {
                        width: 100%;
                        border-radius: 8px;
                        min-height: 200px;
                        max-height: 200px;
                    }

                    .item__box--infor {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 8px;

                        .name {
                            width: 70%;
                            color: black;
                            font-size: 1rem;
                            text-align: left;
                        }

                        .price {
                            width: 30%;
                            color: black;
                            font-size: 1rem;
                            text-align: right;
                        }
                    }
                }
            }
        }

        .customer-reviews--container {
            margin: 0 30px 30px 30px;
            padding: 30px 20px;
            background-color: white;
            border: 1px solid black;
            border-radius: 8px;
            box-shadow: $box-shadow;

            .title {
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                color: black;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .customer-reviews__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;

                .customer-reviews__left {
                    width: 20%;
                    text-align: left;

                    &:hover {
                        cursor: pointer;
                        opacity: .7;
                    }
                }

                .customer-reviews__center {
                    min-width: 80%;
                    max-width: 80%;
                    display: flex;
                    gap: 30px;

                    .customer__information {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        .info__customer {
                            height: 60px;
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            .name {
                                color: black;
                                font-size: 1.1rem;
                            }

                            .date {
                                color: black;
                                font-size: 1.1rem;
                            }
                        }

                        .info__reviews {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .subject {
                                font-weight: 700;
                                font-size: 1.2rem;
                                color: black;
                            }

                            .content {
                                color: black;
                                font-size: 1.1rem;
                                text-align: justify;
                            }
                        }
                    }
                }

                .customer-reviews__right {
                    width: 20%;
                    text-align: right;

                    &:hover {
                        cursor: pointer;
                        opacity: .7;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes color-change-3x {
    0% {
        color: #00FDFF;
    }

    50% {
        color: #FFE500;
    }

    100% {
        color: #ff1212;
    }
}

@keyframes color-change-3x {
    0% {
        color: #00FDFF;
    }

    50% {
        color: #FFE500;
    }

    100% {
        color: #ff1212;
    }
}