@import "../../../../utils/variables.scss";

.checkout--container {
    background: $bkg;

    .checkout--wrapper {
        display: flex;
        gap: 30px;
        margin: 30px 30px;

        .room--detail {
            width: 65%;
            padding: 15px;
            background-color: white;
            border-radius: 8px;
            box-shadow: $box-shadow;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .detail__nav {
                display: flex;
                gap: 5px;

                .nav__item {
                    color: $text-nav;
                    text-decoration: underline;

                    &:hover {
                        color: $thirdary;
                        cursor: pointer;
                    }
                }

                .current-path {
                    font-weight: bold;
                }

                .text {
                    font-size: 20px;
                }
            }

            .detail__title {
                display: flex;
                justify-content: center;
            }

            .detail__room {
                background-color: #E9F0F4;
                border: 1px solid black;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .choosed-room {
                    display: flex;
                    gap: 30px;
                    padding: 15px;
                    align-items: center;

                    img {
                        min-width: 35%;
                        max-width: 35%;
                        min-height: 180px;
                        max-height: 180px;
                        border-radius: 8px;
                        box-shadow: $box-shadow;
                    }

                    .choosed-room__info {
                        width: 65%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .info__name {
                            color: black;
                            font-weight: bold;
                            font-size: 28px;
                        }

                        .info__bed {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            img {
                                min-width: 30px;
                                max-width: 30px;
                                min-height: 30px;
                                max-height: 30px;
                                box-shadow: none;
                            }

                            .bed__number,
                            .bed__type {
                                color: black;
                                font-size: 16px;
                            }
                        }

                        .info__service {
                            display: flex;
                            gap: 10px;

                            .service__number-member,
                            .service__view {
                                font-size: 14px;
                                padding: 5px 15px;
                                background-color: $nav-links;
                                border-radius: 4px;
                            }
                        }

                        .info__price {
                            color: black;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }

                .divider--options {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .choose-option {
                        color: #958F8F;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                .options--wrapper {
                    padding: 15px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 30px;

                    .options__item {
                        width: 47%;
                        background-color: white;
                        border: 1px solid black;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        img {
                            width: 100%;
                            min-height: 270px;
                            max-height: 270px;
                            border-radius: 8px 8px 0 0;
                        }

                        .options__item--info {
                            height: 100%;
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 15px;

                            .item__title {
                                color: black;
                                font-size: 22px;
                                font-weight: bold;
                            }

                            .item__detail {
                                color: $disable;
                                font-size: 18px;
                                font-weight: 400;
                            }

                            .item__box {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .box__price {
                                    color: black;
                                    font-size: 24px;
                                    font-weight: bold;
                                }

                                .item__btn {
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;

                                    input {
                                        width: 24px;
                                        height: 24px;
                                        border: 1px solid #B2B2B2;
                                    }

                                    label {
                                        color: #B2B2B2;
                                        font-size: 20px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .detail__another-room {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .another-room__wrapper {
                    background-color: #E9F0F4;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding: 15px;
                    border: 1px solid black;
                    border-radius: 8px;

                    .wrapper__item {
                        display: flex;
                        gap: 30px;
                        align-items: center;

                        img {
                            min-width: 35%;
                            max-width: 35%;
                            min-height: 210px;
                            max-height: 210px;
                            border-radius: 8px;
                            box-shadow: $box-shadow;
                        }

                        .item__info {
                            width: 65%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .item--name {
                                color: black;
                                font-weight: bold;
                                font-size: 28px;
                            }

                            .item--bed {
                                display: flex;
                                align-items: center;
                                gap: 5px;

                                img {
                                    min-width: 30px;
                                    max-width: 30px;
                                    min-height: 30px;
                                    max-height: 30px;
                                    box-shadow: none;
                                }

                                .bed__number,
                                .bed__type {
                                    color: black;
                                    font-size: 16px;
                                }
                            }

                            .item--service {
                                display: flex;
                                gap: 10px;

                                .service__number-member,
                                .service__view {
                                    font-size: 14px;
                                    padding: 5px 15px;
                                    background-color: $nav-links;
                                    border-radius: 4px;
                                }
                            }

                            .item--price {
                                color: black;
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
                    }

                    .wrapper__btn {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;

                        .btn--detail {
                            width: 25%;
                            background-color: $thirdary;
                            color: white;
                            font-size: 18px;
                            font-weight: bold;
                            border: 1px solid black;
                            border-radius: 25px;

                            &:hover {
                                background-color: $btn-primary;
                            }
                        }
                    }
                }
            }
        }

        .checkout--detail {
            width: 35%;
            height: fit-content;
            background-color: $side-bar;
            border: 1px solid white;
            border-radius: 8px;
            padding: 10px;

            .checkout__hotel--container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .detail__hotel {
                    display: flex;
                    justify-content: space-between;


                    .hotel__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        img {
                            width: 70px;
                            height: 70px;
                            border: 1px solid black;
                            border-radius: 8px;
                        }

                        .info__name {
                            color: white;
                            font-size: 18px;
                            font-weight: 400;
                        }

                        .info__stars {
                            display: flex;
                            gap: 5px;

                            img {
                                width: 24px;
                                height: 24px;
                                border: none;
                            }
                        }
                    }

                    img {
                        width: 40%;
                        border-radius: 8px;
                    }
                }

                .checkout__service--icons {
                    display: flex;
                    gap: 15px;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }

                .checkout__calendar {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .detail__booker--container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .booker__title {
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                }

                .booker__input {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 0 40px;

                    .input--control {
                        display: flex;
                        align-items: center;

                        label {
                            min-width: 20%;
                            color: white;
                            font-size: 18px;
                            font-weight: 400;
                        }

                        input {
                            flex: 1;
                            border-radius: 8px;
                            padding: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }

            .detail__date--container {
                display: flex;
                flex-direction: column;

                .date__input {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .input-icon--control {
                        display: flex;

                        .icon--label {
                            min-width: 35%;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            img {
                                width: 24px;
                                height: 24px;
                            }

                            label {
                                color: white;
                                font-size: 18px;
                                font-weight: 400;
                            }
                        }

                        input {
                            flex: 1;
                            font-size: 16px;
                            padding: 10px;
                            border-radius: 8px;
                        }
                    }
                }

                .divider--date {
                    width: 26%;
                    height: 1px;
                    background-color: $divider;
                    margin: 10px 0;
                }

                .date__number-member {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .detail__prices {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 50px;

                .price__item,
                .price__item--icon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price--title {
                        color: white;
                        font-size: 18px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .detail__total-price {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .total-price__title {
                    color: white;
                    font-size: 26px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                }
            }

            .detail__btn {
                display: flex;
                margin-bottom: 20px;

                .btn--checkout {
                    width: 60%;
                    margin: auto;
                    background-color: $btn-primary;
                    color: white;
                    border: 1px solid black;
                    border-radius: 25px;
                    font-size: 20px;

                    &:hover {
                        background-color: $thirdary;
                    }
                }
            }
        }
    }
}