@import "../../utils/variables.scss";

.footer--container {
    background: $footer;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .footer__logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0;
    }

    .footer__center {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 0 15px 0;

        .center__subcribe {
            width: calc(100% / 2.4);
            padding: 0 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .subcribe__title {
                font-size: 1.6rem;
                color: white;
            }

            .subcribe__desc {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .desc {
                    font-size: 1.2rem;
                    color: $bkg;
                }

                .subcribes {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input {
                        width: 70%;
                        padding: 10px;
                        font-size: 1.1rem;
                        border-radius: 12px;
                        border: 1px solid black;
                    }

                    .btn-subcribe {
                        background: $btn-primary;
                        color: white;
                        font-size: 1.1rem;
                        padding: 10px 25px;
                        font-weight: 400;
                        border: 1px solid black;
                        border-radius: 30px;

                        &:hover {
                            background: $thirdary;
                        }
                    }
                }
            }
        }

        .center__about-us {
            width: calc(100% / 2.4);
            border-left: 1px solid $disable;
            padding: 0 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .title {
                font-size: 1.6rem;
                color: white;
            }

            .description {
                font-size: 1.1rem;
                text-align: justify;
                color: $bkg;
            }
        }
    }

    .footer__bottom--wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 15px 0 30px 0;

        .bottom--box {
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            gap: 30px;

            &:first-child {
                padding: 0 30px;
            }

            .title {
                font-size: 1.6rem;
                color: white;
            }

            .contact__item,
            .navigation__item {
                display: flex;
                align-items: center;
                gap: 30px;
                transition: linear .2s;

                img {
                    width: 40px;
                    height: auto;
                }

                .info__item,
                .quick-links {
                    color: white;
                    font-size: 1.1rem;
                }

                &:hover {
                    gap: 40px;
                    cursor: pointer;
                }
            }

            .navigation__item {
                &:hover {
                    gap: 40px;
                    cursor: pointer;
                }

                .quick-links {
                    &:hover {
                        color: $nav-links;
                    }
                }
            }

            .social-media--container {
                display: flex;
                align-items: center;
                gap: 30px;

                .social-media__qr-code {
                    width: 200px;
                    height: auto;

                    img {
                        width: 100%;
                    }
                }

                .social-media__item {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .item__infor {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        .item__infor--link {
                            display: flex;
                            gap: 20px;

                            img {
                                padding: 5px;
                                background-color: #D9D9D9;
                                border-radius: 16px;

                                &:hover {
                                    opacity: .7;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .item__infor--hotline {
                        font-size: 1.1rem;
                        color: white;
                    }
                }
            }
        }
    }
}