@import "../../../../utils/variables.scss";

.header {
  background: $header;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 130px;
  box-shadow: $box-shadow;

  .header__logo {
    width: 8%;

    img {
      width: 100%;
    }
  }

  .header__nav {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    .nav__item {
      font-size: 1.1rem;
      color: white;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .header__btn {
    width: 25%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;

    .btn--login {
      background-color: $btn-login;
      color: white;
      font-weight: 400;
      width: 40%;
      border: 1px solid white;
      border-radius: 8px;
      padding: 10px 0;

      &:hover {
        background-color: rgba(147, 57, 255, 0.6);
      }
    }

    .btn-register {
      background-color: $btn-secondary;
      color: black;
      font-weight: 400;
      width: 40%;
      border: 1px solid black;
      border-radius: 8px;
      padding: 10px 0;

      &:hover {
        background-color: #d1d1d1;
      }
    }
  }
}